---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign postsByCategory = site.posts | group_by_exp: 'post', 'post.categories' %}
  {% for category in postsByCategory %}
    <li>
      <a href="#{{ category.name | slugify }}">
        <strong>{{ category.name }}</strong> <span class="taxonomy__count">{{ category.items | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>

{% assign postsByCategory = site.posts | group_by_exp: 'post', 'post.categories' %}
{% for category in postsByCategory %}
  <section id="{{ category.name | slugify }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ category.name }}</h2>
    <div class="entries-{{ page.entries_layout | default: 'list' }}">
      {% for post in category.items %}
        {% include archive-single.html type=page.entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">Volver arriba &uarr;</a>
  </section>
{% endfor %}
